<div id="container" class="container">
    <h1>Doogie Howser Journal Generator</h1>

    <cb-message type="success" show="showLink()">
        Your journal has been saved. Share it!<br />
        <a href="#/show/{{journalId}}">http://doogie.interwebs.io/#/show/{{journalId}}</a>
    </cb-message>

    <form class="form-horizontal" name="journalForm">
        <fieldset>
            <legend>Journal Entry</legend>

            <div class="form-group" ng-class="{'has-error': journalForm.title.$invalid}">
                <label class="control-label col-sm-2">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" ng-model="journal.title" size="50" required ng-maxlength="50" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': journalForm.date.$invalid}">
                <label class="control-label col-sm-2">Date</label>
                <div class="col-sm-2">
                    <input ng-model='journal.date' class="form-control" data-animation="am-fade-and-scale" data-autoclose="true" name="date" disable-timepicker='true' bs-datepicker required />
                </div>
            </div>

            <div class="form-group" ng-show="isEditMode()" >
                <label class="control-label col-sm-2">Text</label>
                <div class="col-sm-10">
                    <textarea class="form-control" ng-model="journal.text" rows="3"></textarea>
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>End Credits</legend>

            <div class="form-group" ng-class="{'has-error': journalForm.creditsTitle.$invalid}">
                <label class="control-label col-sm-2">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="creditsTitle"  ng-model="journal.credits.title" required ng-maxlength="64" size="50" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': journalForm.creditsPerson.$invalid}">
                <label class="control-label col-sm-2">Person</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="creditsPerson" ng-model="journal.credits.person" required ng-maxlength="64" size="50" />
                </div>
            </div>

        </fieldset>

        <div class="clearfix" ng-show="!isEditMode()">
            <a id="enter" class="btn btn-lg btn-primary" href="#/show" >Enter <i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>

        <div class="clearfix" ng-show="isEditMode()">
            <div class="pull-right">
                <a class="btn btn-default" ng-click="preview()" href="#/show"><i class="glyphicon glyphicon-eye-open"></i> Preview</a> or
                <a class="btn btn-primary" ng-click="save()"><i class="glyphicon glyphicon-ok"></i> Save</a>
            </div>
        </div>

    </form>

</div>