<div id="overlay" ng-keydown="hotkeys($event)" ng-keypress="typing($event)" tabindex="0" cb-resize="resize()" cb-editable="contentEditable"></div>

<div id="canvas"></div>


<div id="messages" class="clearfix">
    <div cb-message data-type="info" data-show="showInstructions()">
        Just click and start typing. Press ENTER when you're finished.
    </div>

    <div cb-message data-type="info" data-show="showOptions()">
        <p>What an incredibly thoughtful journal entry!</p>

        <a class="btn btn-default" ng-click="edit()" href="/#"><i class="glyphicon glyphicon-edit"></i> Edit</a> or
        <a class="btn btn-primary" ng-click="save()"><i class="glyphicon glyphicon-ok"></i> Share</a>
    </div>

    <div cb-journal-link ng-show="journalId" ></div>

    <div cb-message data-type="info" data-show="showPaused()">
        Paused! Press ESC to continue animation.
    </div>

    <div cb-message data-type="info" data-show="showDone()">
        <p>Well, that was fun. Want to go again?</p>
        <a class="btn btn-default" ng-click="replay()"><i class="glyphicon glyphicon-repeat"></i> Play again</a> or
        <a class="btn btn-primary" href="/#index" ng-click="createNew()"><i class="glyphicon glyphicon-plus-sign"></i> Create a new journal</a>
    </div>

</div>

<audio id="loopAudio" loop="true" >
    <source src="../audio/doogie-loop.mp3" type="audio/mp3">
</audio>

<audio id="typingAudio" loop="true" >
    <source src="../audio/typing.mp3" type="audio/mp3">
</audio>

<audio id="endAudio" >
    <source src="../audio/doogie-end.mp3" type="audio/mp3">
</audio>
