<div id="overlay" ng-keydown="hotkeys($event)" ng-keypress="typing($event)" tabindex="0"></div>

<div id="canvas"></div>


<div id="messages">
    <cb-message type="info" show="showInstructions()">
        Just click and start typing. Press ENTER when you're finished.
    </cb-message>

    <cb-message type="info" show="showDone()">
        Done, asshole!
    </cb-message>

    <cb-message type="success" show="showLink()">
        Your journal has been saved. Share it!<br />
        <a href="#/show/{{journalId}}">http://doogie.interwebs.io/#/show/{{journalId}}</a>
    </cb-message>

    <cb-message type="info" show="showPaused()">
        Paused! Press SPACEBAR to continue animation.
    </cb-message>

</div>



<audio id="loopAudio" loop="true" >
    <source src="../audio/doogie-loop.mp3" type="audio/mp3">
    <source src="../audio/doogie-loop.ogg" type="audio/ogg">
    <source src="../audio/doogie-loop.wav" type="audio/wav">
</audio>

<audio id="endAudio" >
    <source src="../audio/doogie-end.mp3" type="audio/mp3">
    <source src="../audio/doogie-end.ogg" type="audio/ogg">
    <source src="../audio/doogie-end.wav" type="audio/wav">
</audio>