@font-face {
    font-family: 'DOS';
    src: url('../fonts/dos.ttf');
}

@font-face {
    font-family: 'TSISQUILISDA';
    src: url('../fonts/TSISQUILISDA.ttf');
}

.datepicker.dropdown-menu{width:250px;height:270px}
.datepicker.dropdown-menu button{outline:0;border:0}
.datepicker.dropdown-menu tbody{height:180px}
.datepicker.dropdown-menu tbody button{padding:6px}


#messages {
    position: fixed;
    margin-top: 10px;
    top: 0;
    right: 10px;
    z-index: 1050;
}

#messages .alert {
    text-align: center;
    float: right;
    clear: both;
    border-width: 2px;
}


html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
    color: #FFF;
    background: rgb(124,124,170); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(124,124,170,1) 0%, rgba(67,67,173,1) 25%, rgba(32,32,82,1) 91%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(124,124,170,1)), color-stop(25%,rgba(67,67,173,1)), color-stop(91%,rgba(32,32,82,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(124,124,170,1) 0%,rgba(67,67,173,1) 25%,rgba(32,32,82,1) 91%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(124,124,170,1) 0%,rgba(67,67,173,1) 25%,rgba(32,32,82,1) 91%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(124,124,170,1) 0%,rgba(67,67,173,1) 25%,rgba(32,32,82,1) 91%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(124,124,170,1) 0%,rgba(67,67,173,1) 25%,rgba(32,32,82,1) 91%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7caa', endColorstr='#202052',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

h1 {
    text-align: center;
    font-family: TSISQUILISDA;
    text-transform: uppercase;
    color: #FFF;
    font-size: 3.5em;
    padding: .2em;
    text-shadow: 5px 5px 1px #000;
    filter: dropshadow(color=#000, offx=2, offy=2);
}

#wrapper {
    min-width: 100%;
    min-height: 100%;
}

#overlay {
    opacity: 0;
    z-index: 999;
    position: absolute;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    outline: none;
    padding-top: 15%;
}

legend {
    color: #000;
}

label {
    color: #000;
}

form,
footer {
    margin: auto;
    width: 88%;
    padding: 20px;
    border-radius: 8px;
}


form
{
    color: #000;
    background: #f0f0e4;
    box-shadow: inset 0 0 5px 5px #bdbcbe, 0 0 4px 4px rgba(0, 0, 0, .2);
}

footer {
    color: #666666;
    background: #FFF;
    margin-top: 50px;
    border: 2px solid #666666;
}

footer h2 {
    margin-top: 0;
}

@media (min-width: 600px) {
    #messages .alert {
        min-width: 400px;
    }

}