<div id="container" class="container">
    <h1>Doogie Howser Journal Generator</h1>


    <div cb-journal-link ng-show="journalId" ></div>

    <form class="form-horizontal" name="journalForm">
        <fieldset>
            <legend>Journal</legend>

            <div class="form-group" ng-class="{'has-error': journalForm.title.$invalid}">
                <label class="control-label col-sm-2">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" ng-model="journal.title" size="50" required ng-maxlength="50" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': journalForm.date.$invalid}">
                <label class="control-label col-sm-2"><i class="fa fa-calendar"></i> Date</label>
                <div class="col-sm-2">
                    <input ng-model='journal.date' class="form-control" data-animation="am-fade-and-scale" data-autoclose="true" name="date" disable-timepicker='true' bs-datepicker required />
                </div>
            </div>

            <div class="form-group" ng-show="isEditMode()" >
                <label class="control-label col-sm-2">Text</label>
                <div class="col-sm-10">
                    <textarea class="form-control" ng-model="journal.text" rows="3"></textarea>
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>End Credits</legend>

            <div class="form-group" ng-class="{'has-error': journalForm.creditsTitle.$invalid}">
                <label class="control-label col-sm-2">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="creditsTitle"  ng-model="journal.credits.title" required ng-maxlength="64" size="50" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': journalForm.creditsPerson.$invalid}">
                <label class="control-label col-sm-2">Person</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="creditsPerson" ng-model="journal.credits.person" required ng-maxlength="64" size="50" />
                </div>
            </div>

        </fieldset>

        <div class="clearfix" ng-show="!isEditMode()">
            <a id="startTyping" class="btn btn-lg btn-primary pull-right" href="#/show" ng-disabled="journalForm.$invalid" ><i class="fa fa-keyboard-o"></i> Start Typing</a>
        </div>

        <div id="options" class="clearfix" ng-show="isEditMode()">
            <div class="pull-right">
                <a id="preview" class="btn btn-default" ng-click="preview()" href="#/show" ng-disabled="journalForm.$invalid"><i class="glyphicon glyphicon-eye-open"></i> Preview</a> or
                <a id="save" class="btn btn-primary" ng-click="save()" ng-disabled="journalForm.$invalid"><i class="glyphicon glyphicon-ok"></i> Share</a>
            </div>
        </div>

    </form>

    <form class="form-inline" name="tweetForm" ng-show="!isEditMode()">
        <h3>Tweet to Journal</h3>


        <div class="form-group">
            <label class="control-label col-sm-4">Tweet URL</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="tweetId" ng-model="tweet.id" size="50" required cb-tweet />
                <p class="help-block">Ex: <a href="https://twitter.com/craigburke1/status/456062168547753984" target="_blank">https://twitter.com/craigburke1/status/456062168547753984</a></p>
            </div>
        </div>

        <div class="clearfix" >
            <a id="saveTweet" class="btn btn-lg btn-primary pull-right" ng-disabled="tweetForm.$invalid" ng-click="saveTweet()" ><i class="fa fa-twitter"></i> Create Journal</a>
        </div>
    </form>

        <footer>
        <h2>About</h2>

        <p>Made with love by <a href="http://www.craigburke.com">Craig Burke</a>. Oh, and also it was made with
        <a href="http://www.ratpack.io">Ratpack</a>,
        <a href="http://www.mongodb.org/">MongoDB</a>,
        <a href="http://www.angularjs.org/">AngularJS</a> and some other cool things.</p>

        <p>You can see the project on <a class="btn btn-default btn-sm" href="https://github.com/craigburke/doogie"><i class="fa fa-github"></i> Github</a> or just yell at me on twitter <a class="btn btn-default btn-sm" href="https://twitter.com/craigburke1"><i class="fa fa-twitter"></i> craigburke1</a></p>

        <p>Still have no idea what this is about? Educate yourself by reading up on <a href="http://en.wikipedia.org/wiki/Doogie_Howser,_M.D.">Doogie Howser, M.D.</a> or just watch this video</p>
    </footer>

</div>